export const firebaseConfig = {
    apiKey: 'AIzaSyA5dbbXycGHFt1kx8gB_S12qos8vDBwnSE',
    authDomain: 'pb-android-2725a.firebaseapp.com',
    projectId: 'pb-android-2725a',
    storageBucket: 'pb-android-2725a.appspot.com',
    messagingSenderId: '468885270519',
    appId: '1:468885270519:web:354a97057557eec2ec48f2"',
};


