
#Create-Library .container{
  margin-top: 3em;
}

.list {
    width: 30em;
}
.pages-to-be-added .item {
    width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-to-be-added-list{
  width: 20em;
  border: 1px solid black;
}
#form div:nth-child(1) {
    /* Your styles for the second div here */
    display: flex;
    flex-direction: row;
  }

  #form div:nth-child(2) {
    /* Your styles for the second div here */
    display: flex;
    flex-direction: column;
    align-items: start;
    
  }
  #form div:nth-child(2) label{
    padding: 10px 15px;
  }
  #form div:nth-child(2) textarea{
    border: 1px solid black;
  }