

@media (max-width: 1000px) {
    .create .container{
        display: flex;
        flex-direction: column-reverse;
    
    } 
    .main-bar{
        width: 100vw;
    }
    .info.create{
        min-height: 15em;
        background-color: rgb(206, 222, 214);
        border: 1px solid rgb(155, 173, 161);
        width: 100vw;
        padding: 2em 1em;
    }
}
@media (min-width: 1000px) {
.create .container{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
}
.create-list{
    padding: 1em;
    background-color: gainsboro;
    width: fit-content;
    margin: auto;
    
}
.create .container .main-bar{max-width: 40em;}
.info.create{
    margin-right: 3em;
    margin-left: 2em;
    min-height: 15em;
    min-width: 20em;
    max-width: 30em;
    background-color: rgb(206, 222, 214);
    border: 1px solid rgb(155, 173, 161);
    border-radius: 25px;
    padding: 2em 1em;
}
}

.content-list.create{
    width: 35em !important;
    padding: 1em;
    background-color: var(--tertiary) ;
    border-radius: 25px;
}

