
  
.book-banner .book-banner-item {
    max-width: 150px;
    height: 5rem;
    padding: 0 30px;
    object-fit: cover;
  }

 .book-banner  img:last-of-type {
    padding-left: 0;
  }
  .discover-pair{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 1em;

  }
  .discover-pair .pair-item{
    width: 40%;
    border-radius: 25px;
    background-color: var(--tertiary);
    border: 1px solid white;
  }

  .discover-pair .pair-inner{
    border-radius: 25px;
    background-color: gainsboro;
    height: 100%;
    padding: 2em 1em 4em 1em ;
  }

.content-item{
  width: 100%;
  margin-top: 1em;
}

.item-row{
  justify-content: space-between;
  padding:0 1em;
}
#discover .content{
  display: flex;
  flex-direction: column;
  height: auto;
}
#discover .content-list{
  margin-top: 4em;
}
.content-item .item-row{
      background-color: white;
      display: flex;
      flex-direction: row;
      height: auto;
      padding-top:1em;
      border-bottom: 1px solid black;
      
}
 
 .book-banner  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 5rem;
  }
  
.book-banner   .wrapper {
    position: absolute;
    display: flex;
  }
  .book-banner{
    margin-top: 3em;
  }
.book-banner   section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }
  
  /* https://codesandbox.io/s/infinite-horizontal-auto-scroll-y82f8?file=/src/styles.css:0-520 */