
#container {
    display: flex;
    justify-content: space-evenly;
}
.left-bar .content-list{
    margin-top: 3em;
}
.info{
    /* margin-top: 3em; */
    margin-right: 3em;
    margin-left: 2em;
    min-height: 15em;
    min-width: 22em;
    background-color: rgb(206, 222, 214);
    border: 1px solid rgb(155, 173, 161);
    border-radius: 25px;
    padding: 2em 1em;
}
.info .purpose {
    min-height: 5em;
   
    background-color: rgb(217, 217, 217);
    margin: 1em 1em;
   
}
.right-bar{
    
}
