


.main-bar{
    min-width: 40rem;
 
    margin: auto 4rem;
    justify-content: center;
    
    
    
}
.main-bar .list-item{
    margin: auto;
}

.container-row{
    padding-top: 2em;
    
}
.left-side-bar{
    /* flex: 2; */
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}
.left-side-bar ul{
    /* flex: 2; */
    display: flex;
    flex-direction: column;
}
.right-side-bar{
    padding-left: 1em;
    padding-top: 1em;
   
 
}
.profile-pic-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    background-color: blueviolet;
}
.profile-pic{
    width:10em;
    height: auto;
    border: 2px solid blueviolet;
}
.btn-primary{
    
}
.btn-primary a {
    text-decoration: none;

}
.btn-primary:hover,
.btn-primary:focus {
  background-color: grey!important;
  border-color: darkgray !important;
}
.MuiMenu-listbox{
    background-color: whitesmoke;
}
.button-row{
    display: flex;
    flex-direction: row;
}

.content-list .btn-row{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 5px 50px;
}
.list-item a {
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
   

}

.list-item button {
    margin: 0px .5em;
}

.list-item {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom:1em;
    background-color: white;
    border-bottom: 1px solid gray;
    
}


.nav-item i{
    color:green;
}
.dropdown .dropdown-menu{
    z-index: 2;
}

  .visible {
    max-height: 1000px; /* Adjust as needed */
  }
  
  .hidden {
    max-height: 0;
  }