


.main-bar{
    min-width: 40rem;
 
    margin: auto 4rem;
    justify-content: center;
    
    
    
}
.main-bar .list-item{
    margin: auto;
}

.container-row{
    padding-top: 2em;
    
}
.left-side-bar{
    /* flex: 2; */
    display: flex;
    flex-direction: column;
}
.left-side-bar ul{
    /* flex: 2; */
    display: flex;
    flex-direction: column;
}
.right-side-bar{
    background-color: aqua;
    width: 20rem;
    padding-left: 1em;
    padding-top: 1em;
   
 
}
.profile-pic-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    background-color: blueviolet;
}
.profile-pic{
    width:10em;
    height: auto;
}
.btn-primary{
    background-color: gainsboro!important;
}
.btn-primary a {
    text-decoration: none;

}
.btn-primary:hover,
.btn-primary:focus {
  background-color: grey!important;
  border-color: darkgray !important;
}
.MuiMenu-listbox{
    background-color: whitesmoke;
}
.button-row{
    display: flex;
    flex-direction: row;
}
.page-list-item .text{
    border: 1px solid gray;
    width: 8vh;
    height: 11vh;

}

.content-list .btn-row{
    background-color: burlywood;
    margin: auto;
    padding: 5px 50px;
}
.list-item a {
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
   

}

.list-item button {
    padding: 0em 1em;
    margin: 0px .5em;
}
.content{
    height: 100rem;
}
.list-item {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom:1em;
    background-color: aliceblue;
    border-bottom: 1px solid gray;
    
}
.content-list{
    background-color: red;
    height: auto;
    min-height: 40rem;
}
.content-list .content{
    background-color: aqua;
    height: 35em;
    margin: 1em;
}
.nav-item i{
    color:green;
}
.dropdown .dropdown-menu{
    z-index: 2;
}
.btn-row{
    display: flex;
    flex-direction: row;
}
.page-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    overflow: hidden;
  }
  
  .visible {
    max-height: 1000px; /* Adjust as needed */
  }
  
  .hidden {
    max-height: 0;
  }