

.profile-container .username{
    margin-top: 5px;
    font-weight: bold;
    font-family: Roboto,sans-serif;
}
.profile-container .statement{
  
    font-family: Roboto,sans-serif;
}
.tab {
    background: transparent;
    border-radius: 2em !important;
    width: 4rem;
    height: 2.5rem;
    margin-left: 0.2em;
    border-color: oklch(0.696 0.17 162.48)!important;
 
}
  
  .tab:hover {
    height: 3rem !important;
    background-color: transparent; /* Similar to hover:bg-gray-300 */
  }
.transparent{
    background-color: transparent!important;
  }
@media (max-width: 800px) {



.left-side-bar{
    /* flex: 2; */
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}
.left-side-bar ul{
    /* flex: 2; */
    display: flex;
    flex-direction: column;
}


}
.create-buttons{
   width: 30em;
   margin: auto;
    display: flex;
    flex-direction: column;
}

.create-buttons button{
    margin-top: 1em;
    height: 5em;
}
@media (min-width: 1400px) {
    .container{
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .right-bar{
        padding-right: 2em;
    }
 

.profile-container{

    width: 30em;
    margin: auto;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    background-color: var(--tertiary);
    display:grid;
    
    grid-template-columns:30% 60%;
}

.profile-container > :nth-child(1) {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background: var(--light);
    padding-right: 9em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.profile-container > :nth-child(2) {
    margin-left: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.profile-container .profile-pic{
    max-width:6em;
 
    height: auto;
    
   
}

.profile-container .profile-pic{
    border: 2px white solid;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
}
@media (max-width: 1400px) {
.profile-container{
    display:grid;
    grid-template-columns:30% 60%;
    width:100%;
    max-width: 23em;
    margin: 1em auto;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    background-color:var(--tertiary);
}
.profile-container  .profile-pic{
    max-width:6em;
    max-height: 10em;
    

}
.profile-container > :nth-child(1) {
    background: var(--light);
    width: 10em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.profile-container > :nth-child(2) {
    margin-left: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
}

.btn-primary a {
    text-decoration: none;

}
.btn-primary:hover,
.btn-primary:focus {
  background-color: grey!important;
  border-color: darkgray !important;
}
.MuiMenu-listbox{
    background-color: whitesmoke;
}







.nav-item i{
    color:green;
}


  .visible {
    max-height: 1000px; /* Adjust as needed */
  }


  .hidden {
    max-height: 0;
  }
  .drive-grid-list {
    padding: 0;
    margin: 0;
    background: var(--ion-item-background, #fff);
  }
  
  .drive-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 16px;
    padding: 8px;
    background: var(--ion-item-background, #fff);
  }
  
  .drive-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 4em !important;
    max-width: 8em !important;
    height: 140px !important;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.07);
    text-align: center;

  }

  .drive-grid-thumb {
    width: 40px;
    height: 40px;
    margin: 8px auto;
    border-radius: 6px;
    overflow: hidden;


  }
  
  .drive-grid-label {
    margin-top: 10px;
    font-size: 1rem;
    word-break: break-word;
    color: black;
  }
  