#sidebar {
    width:20rem;
    height: 100vh;
    background: #434C47;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}
#sidebar li {
    padding-bottom: 20px;
}
#sidebar a {
    text-decoration: none;
    color: white;
}

#sidebar.active {
    margin-left: -250px;
    /* transform:  translateX(120px)Rotate sidebar vertically by 100 degrees. */
}
/* rotateY(100deg); */
#sidebar .sidebar-header {
    padding: 20px;
    background: #434C47;
}
#sidebar ul.components {
    padding: 20px 0;
    
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}