
@media (min-width: 840px) {
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top:3em;
}
.center{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

}
#LogInContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0rem;
  }
}
@media (max-width: 840px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .container.reverse{
        flex-direction: column-reverse;
    }
    #LogInContainer{
        display: flex;
        flex-direction: column-reverse;
        
        
      }


}