.tab {
    background: transparent !important;
    border-radius: 2em !important;
    width: 4rem;
    height: 2.5rem;
    margin-left: 0.2em;
    
    border-color: oklch(0.696 0.17 162.48)!important;
 
}

  .tab:hover {
    height: 3rem !important;
    
    background-color: transparent !important; /* Similar to hover:bg-gray-300 */
  }
.transparent{
    background-color: transparent!important;
  }
@media (max-width: 767px) {
    
    .container.reverse{
        flex-direction: column-reverse;
    }
    #LogInContainer{
        display: flex;
        flex-direction: column-reverse;
        
        
      }


}
.profile-card .username{
    font-weight: bold;
    margin-top: 5px;
    font-family: Roboto,sans-serif;
}
@media (max-width: 700px) {
    .profile-card > .profile-info{
        background-color: var(--light);
        padding: 1em 1em 1em 2em;
        width: fit-content;
    }
    .profile-card{
        display:grid;
        grid-template-columns:30% 60%;
        min-height: 15em;
        min-width:100%;
        background-color: rgb(206, 222, 214);
     

        
    }
    .profile-card img[alt="proflile-picture"]{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 3px solid white;
}
    .profile-card > .statement{
        margin-left: 2em;
        padding-left: 3em;
        padding-top: 2em;
        padding-bottom: 2em;
        padding-right: 1em;
        font-family: Roboto, sans-serif;
    }
    .profile-card img{
        max-width: 8em;
     
    }
}


@media (min-width: 850px) {
    #LogInContainer{
        margin-top: 2em;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .profile-card img[alt="proflile-picture"]{
        max-width: 10em;
        min-width: 8em;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border: 3px solid white;
    }
    .profile-card > .profile-info{
        background-color: var(--light);
        padding: 1em;
        width: fit-content;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .profile-card > .statement{
        margin-left: 5em;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 2em;
        padding-bottom: 2em;
        font-family: Roboto, sans-serif;
    }
    .profile-card{
        display:grid;
        grid-template-columns:30% 60%;
        min-height: 15em;
        max-width: 30em;
        
        background-color: rgb(206, 222, 214);
        border-radius: 25px;
        box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
        margin: auto;
   
    }
}