
@media (min-width: 1000px) {
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top:3em;
}
.center{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

}
#LogInContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem 0rem;
  }
}
@media (max-width: 1000px) {
    .container{
        display: flex;
        flex-direction: column;
     
    }
    .container.reverse{
        flex-direction: column-reverse;
    }
    #LogInContainer{
        display: flex;
        flex-direction: column-reverse;
        
        
      }


}
@media (max-width: 800px) {
    .profile-card{

        min-height: 15em;
        min-width:100%;
        background-color: rgb(206, 222, 214);
        border: 1px solid rgb(155, 173, 161);
        /* border-radius: 25px; */
        padding: 2em 1em;
    }
    .profile-card img{
        max-width: 12em;
     
    }
}
@media (min-width: 800px) {
    .profile-card img{
        max-width: 12em;
     
    }
    .profile-card .statement{
        margin-left: 1em;
        padding: 0.5em;
        min-width: 16em
    }
    .profile-card{

        min-height: 15em;
        max-width: 30em;
        background-color: rgb(206, 222, 214);
        border: 1px solid rgb(155, 173, 161);
        border-radius: 25px;
        box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
        padding: 2em 1em;
    }
}