.form{
    margin-top: 4em;
    background-color: var(--tertiary);
    padding: 4em 2em;
    border-radius: 25px;
}
.self-statement{
    display: flex;
    flex-direction: column;
    margin-top: 2em;

    
}
.self-statement textarea{
    border-radius: 10px;
}
.self-statement h6{

    text-align: start;
}
.library-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}
/* .settings{
    background-color: red;
} */
.input.text{
    margin-top: 2em;
}

.delete{
    margin-top: 4em;
    width: 82%;
}