
@media (min-width:900px)  {
    
.form{
    margin-top: 4em;
    background-color: var(--light);
    padding: 4em 2em;
    border-radius: 25px;
}
.SettingForm .profile-pic{
    max-width: 10em;
    margin: 2em auto;
}

}
@media (max-width:900px)  {
    .SettingForm  .profile-pic{
        margin: 2em auto;
        max-width: 10em;
    }
    .form{
        margin-top: 4em;
        background-color: var(--light);
        padding: 4em 2em;
    }
    
    .SettingForm{
        width: 90%;
        margin-left: 2em;
    }
    }
    @media (min-width:1000px){   
.SettingForm{
    width: 30em;
    margin-left: 2em;
}
}
.self-statement{
    display: flex;
    flex-direction: column;
    margin-top: 2em;

    
}
.self-statement textarea{
    border-radius: 10px;
}
.self-statement h6{

    text-align: flex-start;
}
.library-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}
.collection {
    background-color: #c8e6c9;
    max-height: 20em;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1em;
    border-radius: 25px;
}
.home-item{
    border-radius: 25px;
    background-color: rgb(244, 244, 244);
    width: fit-content;
    padding: 0.5em .3em 0.3em 1em;
    margin: 0.5em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}
.input.text{
    margin-top: 2em;
}

.delete{
    margin-top: 4em;
    width: 82%;
}