.item-info{
    flex-direction: row;
    display: flex;
}

.library-update form{
    display:flex;
    flex-direction: column;
}
.library-update input[type="text"]{
    background-color:var(--tertiary);
}
.library-update{
    margin-bottom: 1em;
}


