@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.App{
  position: relative;
  z-index:2;
  color: white;
  text-align: center;

}
.screen{
    overflow: scroll;
    margin-top: 2em;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 2em;
}
.background-blur{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  /* filter: blur(20px);  */
  z-index: 1;

}
#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  z-index: 0;

}


.container-row{
  display: flex;
  flex-direction: row;
}


:root{
  --text-color:#02120A;
  --tertiary: #DBDBDB;
  --dark:#183306;
  --primaryMain:#1b5e20;
  /* --medium:#375E1D; */
    --medium:#50874F;
  --light:#6C965C;
  --slightly-yellow:#F6F6F3;
  --secondary: #67914A;
  --background-light:#646363e2;
  --background-secondary-light:#cecece;
  --background-tertiary-light:#C6D4BC;
  --background-secondary:rgba(141, 141, 141, 0.533);
  --large-list-item-width: 40em;
  --small-list-item-width:10em;
  --some-box-shadow:  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);

}

/* html, body {
  background-image: radial-gradient(#487e4c,white);
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.button-row{
  display: flex;
  flex-direction: row;
 
}
.thumbnail{
  width: 100%;
}
.content *{
  color:white
}
@media (min-width: 850px) {
  .content-list{
   
    width: var(--large-list-item-width);
    margin: 0em auto 0em auto;
   
  }
  .content .no-more-data{
    width: 100%;
  }
  .page-skeleton{
    margin: auto;
    width: fit-content;
   
  }
  .page-skeleton .header{
    width: var(--large-list-item-width);
    height: 4em;
  }
  .page-skeleton .body{
    width: var(--large-list-item-width);
    height: 20em;
  }
  .page-skeleton .footer{
    width: var(--large-list-item-width);
    height: 4em;
  }
.sign-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25em;
  border-radius: 25px;
  border: 1px solid aliceblue;
  margin: 0em auto 1em auto;
  background-color: whitesmoke;
  
 

}

/* .sign-card h1{
  margin-top: 3em;
} */

.profile-list{
  border-bottom: 2px solid grey;
  padding-bottom: 1em;
  overflow: scroll;
  height: 14em;
  background-color: var(--background-secondary);
}
.role-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  background-color: rgb(244, 244, 244);
  padding: 0.5em;
}
.role-item button{
  min-width: 8em;
  padding: 0.2em 1em;
  border-radius: 25px;
}

#log-in{
  padding-right: 1em;
}
#sign-in{
  padding-top: 2em;
  padding-right: 1em;
}

.navbar-brand{
  padding-left: 1em;
}


.create-form{
  margin-top: 2em;
  background-color: var(--tertiary);
  padding: 3em 2em 3em 2em;
  border-radius: 8px;
  max-width: 30em;
  min-width: 25em;
  margin: auto;
}



#login .forgot{
  text-align: flex-start;
}
#login button[type="submit"]{
  margin-top: 2em;
}


.button-row.reverse{
  flex-direction: row-reverse !important;
}



.sign-card textarea{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1em 0em;
}


}
@media (max-width: 850px) {
  .sign-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1em;
    padding-bottom: 3em;
    border: 1px solid aliceblue;
    background-color: whitesmoke;
   
  
  }
  .sign-card #login{
    margin: 2em auto 0em auto;
  }
  
  .profile-list{
    border-bottom: 2px solid grey;
    padding-bottom: 1em;
    overflow: scroll;
    height: 14em;
    background-color: var(--background-secondary);
  }
  .role-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    background-color: rgb(244, 244, 244);
    padding: 0.5em;
  }
  .role-item button{
    min-width: 8em;
    padding: 0.2em 1em;
    border-radius: 25px;
  }
  #log-in{

        padding-right: 1em;
  }
  
  #sign-in{
    padding-top: 2em;
    padding-right: 1em;
  }
  
  .navbar-brand{
    padding-left: 1em;
  }

  .create-form{
    background-color:var(--tertiary);
    padding: 3em 2em 3em 2em;

  }
  
 
  #login .forgot{
    text-align: flex-start;
  }
  #login button[type="submit"]{
    margin-top: 2em;
  }
  
  
  .button-row.reverse{
    flex-direction: row-reverse !important;
  }

  #sigin div:nth-child(1) {
    /* Your styles for the second div here */
    background-color: #61dafb;
    width: 100%;
   padding: 1em;
  }
  .sign-card textarea{
    border: 1px solid grey;
    padding: 1em 0em;
    border-radius: 10px;
  }

}
  

.content-list .error {
  background-color: rgb(219, 219, 219);
  border-radius: 25px;
  height: 20em;
  margin: auto;
  color:white;
  padding-top:8em;
  
}
.content-list .error h2{
 
  width: fit-content;
  margin: auto;

}
#dashboard{
  overflow-y: scroll;
}
.row{
  display: flex;
  flex-direction: row;
}
.evenly{
  justify-content: space-evenly;
}

.center{
  justify-content: center;
}
.around{
  justify-content: space-around;
}
.between{
  justify-content: space-between;
}


@media (min-width: 1000px) {

.empty{
  text-align: center;
  background-color: #DBDBDB;
  width: var(--large-list-item-width);
  margin: auto;
  padding: 3em;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
  .no-more-data{
    min-height:5em;
    padding: 3em;
    text-align: center;
    width: var(--large-list-item-width);
    background-color: var(--background-secondary);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin:auto;
  }
  #dashboard {
    margin-top: 3em;
   
  }
  
}
@media (min-width: 900px){
  .upload-picture{
      margin:auto;
      background-color: var(--tertiary);
      width: 100%;
      border-radius: 8px;
      max-width: 600px;
      margin-bottom: 2em;

  }
  .upload-picture .url{
    background-color:white;
    border-radius:8px;
    min-width: 86%;
    margin-bottom: 2em;
    margin-top: 1em;
  
  }

  .upload-picture .thumbnail{
    width: 90%;
    max-width:var(--large-list-item-width);
    margin-bottom:1em;
  }
}
  @media (max-width: 900px){
    .upload-picture{
      margin:auto;
      background-color: var(--tertiary);
      width: 100%;
      max-width: 600px;
      margin-bottom: 2em;
      padding-bottom: 2em;
      padding-top: 2em;
    }
  .upload-picture .body{
    margin-top: 1em;
  }
 

}
@media (min-width: 900px){
  .upload-picture .body{
    margin-top: 1em;
  }


.content-list.dashboard{
  min-width: var(--large-list-item-width);
  border-radius: 25px;
  margin: auto;
  min-height: 20em;
  width: 45em;

  
}
.intro{
  border-radius: 25px;
  width:45em;
  margin:auto;
  margin-bottom: 2em;
  padding: 2em 3em;
  text-align:flex-start;
  background-color: rgb(230, 231, 226);
}

.content-list .content{
  min-width: var(--large-list-item-width);
  background-color: rgb(230, 231, 226);
  min-height: 30em;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 1em;
  
  
}

.inner .btn-row{
  width: var(--large-list-item-width);
  justify-content: space-between;
  background-color: var(--medium);
  display: flex;
  margin: auto;
  flex-direction: row;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

}
.btn-row .sort{
  display: flex;
  
}

}
@media (max-width: 850px){
  .content-list{
    width: 100%;
    
  }
  .buttons{
    margin-right: 1em;
  }
  .no-more-data{
    min-height:5em;
    padding: 3em;
    text-align: center;
    width: 100%;
    background-color: var(--background-secondary);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin:auto;
  }


  .intro{
  
    width:100vw;
    margin:auto;
    padding: 2em 3em;
    text-align:flex-start;
    background-color: rgb(230, 231, 226);
  }

  .content-list .content{
    background-color: rgb(230, 231, 226);
    min-height: 30em;
    margin-bottom: 1em;
  }
  .inner .btn-row{
    width: 100%;
    justify-content: space-between;
    background-color: var(--medium);
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: flex-start;
    
  
  
  }
  .btn-row .sort{
    display: flex;
    flex-direction: row;

  }
}

@media (min-width: 900px) {
.list-item{
  color:var(--text-color);
  padding: 1.5em 2em 1.5em 2em !important;
  display: flex;
  flex-direction: row;
  width: var(--large-list-item-width);
  margin: auto;
  margin-bottom: 0.5em;
  height: fit-content;
  justify-content: space-between;
  background-color: var(--slightly-yellow);
  border-bottom: 2px solid gainsboro;
  box-shadow: var(--some-box-shadow);
}
.list-item.round{
  border-radius: 8px;
}
.list-item .button-row{
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}




.list-item a {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  text-decoration: none;
  color:black
}
.list-item .title {
  max-width: 20em;
  word-break: break-all;
  height: auto;
}
}



@media screen and (min-width:500px) and (max-width:1000px) {
  .list-item{
   
    padding: 1.5em 0 1.5em 1.5em;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--slightly-yellow);
    border-bottom: 2px solid gainsboro;
  }
  .list-item .title {
    max-width: 18em;
    margin-bottom: 1em;
    transform: translateY(-0.5em);
    word-break: break-all;
    height: auto;
  }
  .list-item a {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    color: black;
    text-decoration: none;
    height: 2em;
   
    
  }

  .list-item .button-row{
    display: flex;
    flex-direction: row;
    margin-right: 2em;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@media screen and (max-width:500px) {
  .list-item{
   
    padding: 1.5em 0 1.5em 1.5em;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--slightly-yellow);
    border-bottom: 2px solid gainsboro;
  }
  .list-item .title {
    max-width: 12em;
    margin-bottom: 1em;
    transform: translateY(-0.5em);
    word-break: break-all;
    height: auto;
  }

  .list-item a {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    color: black;
    text-decoration: none;
    height: 2em;
   
    
  }

  .list-item .button-row{
    min-width: 10em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2em;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.container-row{
  display: flex;
  flex-direction: row;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.link-preview{
  background-color: white;
}
.link-preview p{
  margin-left: 1em;
  margin-right: .5em;
  text-align: left ;
  color: black;
}
.link-preview .title{
  margin-left: .5em;
  margin-right: .5em;
  text-align: left;
  color: black
  ;
}
@media (min-width: 900px) {


/* 
  .screen{
      min-height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 2em;
      padding-left: 2em;
      padding-right: 2em;
  } */
}
  @media (max-width: 900px) {
   
   
    
   .upload-picture .thumbnail{
      width: 90%;
     margin-bottom: 1em;
    

    }
    .upload-picture .url{
      background-color:white;
      border-radius:8px;
      min-width: 86%;
      margin-bottom:1em;
    
    }
    }
