.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

html, body {
  background-image: radial-gradient(rgb(161, 166, 162),white);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.sign-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25em;
  border: 1px solid black;
    background-color: whitesmoke;
 

}
.profile-list{
  border-bottom: 2px solid grey;
  padding-bottom: 1em;
  overflow: scroll;
  height: 14em;
  background-color: gray;
}
.role-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  background-color: rgb(244, 244, 244);
  padding: 0.5em;
}
.role-item button{
  min-width: 8em;
  padding: 0.2em 1em;
  border-radius: 25px;
}
.role-item div{

}

#sign-in{
  padding-top: 2em;
}
.sign-card .username {
  padding-top: 1em ;
 


}
.navbar-brand{
  padding-left: 1em;
}
#login .email{
  padding-bottom: 1em;
}
#login form{
  background-color: #61dafb;
}
#login .password{
  padding-bottom: 2em;
}

.button-row.reverse{
  flex-direction: row-reverse !important;
}
.sign-card .email{
  padding-top: 1em;
}
#LogInContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#LogInContainer {
  padding: 2rem 0rem;
}
#sigin div:nth-child(1) {
  /* Your styles for the second div here */
  background-color: #61dafb;
  width: 100%;
 padding: 1em;
}
.sign-card textarea{
  border: 1px solid black;
  padding: 1em 0em;
}
.sign-card .button{
  padding: 0em 0em 2em 0em;
}
.sign-card .file{
  padding: 1em;
}
.list-item{
  padding: 1.5em 2em 1.5em 2em !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45em;

  background-color: white;
 border-bottom: 2px solid gainsboro;
}
.content-list .error {
  background-color: rgb(219, 219, 219);
  border-radius: 25px;
  height: 20em;
  padding-top:8em;
  
}
.content-list .error h2{
 
  width: fit-content;
  margin: auto;

}

.content-list{

  border-radius: 25px;
  margin: auto;
  padding: 2em 1em;
  min-height: 20em;
  width: 50em;
  /* width: fit-content; */
  background-color: aliceblue;
  height: max-content
  
}
.content-list .inner{

  background-color: gainsboro;
  border-radius: 25px;

  height:max-content;

  margin: 1em;
}
.content-list .content{
 
  height:auto;
  padding: 1em;
  
}
.content-list .inner .btn-row{
  width: 100%;
  justify-content: start;
  background-color: rgb(194, 211, 227);
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-top: 1em;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;

}

.list-item button{
  margin-right: 1em;
}
.list-item a {
  display: flex;
  flex-direction: row;
  padding: 0px 2px 0px 2px;
  margin-top: 1em;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.container-row{
  display: flex;
  flex-direction: row;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
