@media (min-width: 768px) {
  /* On screens with a width of 768px or more (desktop), set the width to 50% */
.dashboard-item {
   
    width: 50rem;
    background-color: white;
    border: 1px solid gray;
    
  }
.dashboard-item button {
  color:white;
  background-color: black;
 
  padding: 10px 20px;
  border: none;
 
}


.dashboard-item .btn-row{

  height:3em;
  width: 50rem;
  justify-content: center;
  background-color: black;
}

.dashboard-item img{ 
    width: 50em;    
    height:auto;
    /* object-fit: cover; */
    margin: 0 auto;
  } 
.dashboard-item .text{
  width: 50em; 
  background-color: red;  
  

}
.dashboard-content{
  padding:  2em;
}

}
 

