

.page-text  {
  color: #1e293b ;
}
@media (min-width:800px) {

.content-item button {
  padding: 10px 20px;
  height: 100%;
  border: none;
}

.content-item .text{
 
  background-color: #F6F6F3;
  padding: 2em;

}

.content-item .btn-row{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height:3em;
  width: 100%;
  text-align: center;
  background-color: black;
}
.content-item .dashboard-header{
  background-color: #F6F6F3;
  border-bottom: 1px solid grey;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  
}
.page-text span{font-size: 1.2rem !important;}

  

 .dashboard-header{
  border-bottom: 1px solid grey;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-header .titles {
  display: flex;
  flex-direction: row;
  color:black;
}

/* .content-item img{ 
  max-width: 100%;    
  height:auto;
  margin: 0 auto;
}  */
.dashboard-content.text{
  background-color:var(--slightly-yellow);
  word-wrap: break-word;
  width: 100%;
  padding:2em;

}
.dashboard-content.image{
  background-color: white;
  width: 100%;

}
.content-item .titles p{
  white-space: nowrap;
  text-align: left;
}

#page-view-item iframe[title="Spotify Web Player"]{
  max-width: 44em !important;
}
}

@media (max-width: 800px) {
  /* On screens with a width of 768px or more (desktop), set the width to 50% */

.content-item button {
  color:white;
  background-color: black;
  padding: 1em 1em;
  height: 100%;
  border: none;

 
}
.grid #dashboard-item iframe[title="Spotify Web Player"]{
  width: 10rem !important;
  border-radius:  8px !important;
  overflow: hidden;
}


.content-item .btn-row{
  text-align: center;
  height:3em;
  width: 100%;
 
  background-color: black;
 
}
.page-data *{
  font-size:1.1rem!important;
  line-height: 1.6rem !important;
     font-family: -apple-system, BlinkMacSystemFont, sans-serif!important;
}


.content-item .text{
 
  background-color: var(--slightly-yellow);
  padding: 2em;

}


}
 

@media (max-width: 800px) {





}
.full iframe[title="Spotify Web Player"]{
  width: 47em;
}

.grid-full iframe[title="Spotify Web Player"]{
  width: 30vw;
}
.full-mobile iframe[title="Spotify Web Player"]{
  width: 95vw;
}
.grid-mobile iframe[title="Spotify Web Player"]{
  width: 20vw !important;
  /* height: 100%!important; */
}


@media (max-width: 800px) {

  



}
@media (min-width: 768px) {
  .grid-item iframe{
    max-width: 31vw !important;
  }

 

 

}

