@media (min-width: 768px) {
  /* On screens with a width of 768px or more (desktop), set the width to 50% */
.dashboard-item {
    width: 50rem;
    background-color: white;
    border: 1px solid rgb(210, 210, 210);
    margin-bottom: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
  }
.dashboard-item button {
  color:white;
  background-color: black;
  padding: 10px 20px;
  height: 100%;
  border: none;
 
}


.dashboard-item .btn-row{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height:3em;
  width: 50rem;
  justify-content: center;
  background-color: black;
 
}

.dashboard-item img{ 
    width: 50em;    
    height:auto;
    /* object-fit: cover; */
    margin: 0 auto;
  } 
.dashboard-item .text{
  width: 50em; 
  
  

}
.dashboard-item .dashboard-header{
  border-bottom: 1px solid grey;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-header p {
  margin: auto 0;
}
.dashboard-content{
  padding:  2em;
}

}
 

