@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌑 Plumbum Dark Mode */

:root{
  --text-color:#02120A;
  --tertiary: #f4f4e0;
  --dark:#183306;
  --primaryMain:#1b5e20;
  /* --medium:#375E1D; */
    --medium:#50874F;
  --light:#6C965C;
  --slightly-yellow:#f4f4e0;
  --secondary: #67914A;
  --background-light:#646363e2;
  --background-secondary-light:#f4f4e0;
  --background-tertiary-light:#f4f4e0;
  --background-secondary:rgba(141, 141, 141, 0.533);
  --large-list-item-width: 40em;
  --small-list-item-width:10em;
  --some-box-shadow:  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);

}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
   
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

ion-toolbar::part(container) {
  /* margin-top: !important; */
  padding: 2rem  1rem !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
}